{
	"Description": "Machine-specific configuration: list machine IDs and available energies (MV). Edit this file to reflect local linac IDs and energies.",
	"Machines": [
        {
            "MachineId": "LA16",
            "DisplayName": "LA16",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "Millenium MLCs"
        },
        {
            "MachineId": "LA17",
            "DisplayName": "LA17",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "Millenium MLCs"
        },
        {
            "MachineId": "LA20",
            "DisplayName": "LA20",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "Millenium MLCs"
        },
        {
            "MachineId": "ROP_LA_2",
            "DisplayName": "ROP_LA_2",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "Millenium MLCs"
        },
        {
            "MachineId": "SB_LA_2",
            "DisplayName": "SB_LA_2",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "Millenium MLCs"
        },
        {
            "MachineId": "SB_LA_1",
            "DisplayName": "SB_LA_1",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "HDMLCs"
        },
        {
            "MachineId": "ED_LA_1",
            "DisplayName": "ED_LA_1",
            "Energies_MV": ["6X", "6X-FFF", "10X", "10X-FFF", "15X"],
            "Notes": "Millenium MLCs"
        }
	]
}

